<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">

    <title>Programmer Quotes by jldeveloper27</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>Programmer Quotes</h1>
        <h2>Shit programmers say</h2>

        <section id="downloads">
          <a href="https://github.com/jldeveloper27/programmerquotes/zipball/master" class="btn">Download as .zip</a>
          <a href="https://github.com/jldeveloper27/programmerquotes/tarball/master" class="btn">Download as .tar.gz</a>
          <a href="https://github.com/jldeveloper27/programmerquotes" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
       <div class="content">
         {{ content }}
       </div>
       <h1>Quotes:</h1>
       <div class="posts-wrapper">
         {% for quote in site.quotes %}
          <div class="post-wrapper">
            <h3>{{ quote.quote }} <i> - By {{quote.author}}</i></h3>
          </div>
        {% endfor %}
        </div>
      </section>
    </div>


  </body>
</html>
